# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.so

# ==========================
# Virtual Environments
# ==========================
venv/
.venv/
env/

# ==========================
# Logs
# ==========================
logs/
*.log

# ==========================
# Build files
# ==========================
build/
dist/
*.egg-info/

# ==========================
# YOLO Outputs
# ==========================
runs/
output/

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db
